$tv-purple: #660080;
$tv-green: #009B00;

$bg-white: #FFFFFF;
$bg-grey: #BBBBBB;
$bg-black: #000000;

$ratio: 0.618;  // approximated golden ratio
$max-width: 1080;  // the maximum the content can stretch to, in px

$large-font-size: 25px;
$medium-font-size: 20px;
$small-font-size: 15px;

// webpack helps export the variables for use inside JS
:export {
  tvPurple: $tv-purple;
  tvGreen: $tv-green;

  bgWhite: $bg-white;
  bgGrey: $bg-grey;
  bgBlack: $bg-black;

  ratio: $ratio;
  maxWidth: $max-width;

  largeFontSize: $large-font-size;
  mediumFontSize: $medium-font-size;
  smallFontSize: $small-font-size;
}

// the default settings
* {  
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: $small-font-size;
}

.footer-link:active, .footer-link:hover, .footer-link:visited {
  color: $bg-black;
}

a {
  font-size: 1em;
}

// simulate a thick underline
.footer-link:hover {
  text-decoration: none;
  border-bottom: 2px solid $bg-black;
}

body {
  font-family: "Open Sans", sans-serif;
}

.primary-btn {
  width: 100px;
  height: 40px;

  background-color: $tv-purple;
  border: 3px solid $tv-purple;
  border-radius: 3px;

  font-weight: bold;
  font-size: $small-font-size;
  color:$bg-white;

  text-align: center;
  line-height: 100%;
}

.secondary-btn {
  width: 100px;
  height: 40px;

  background-color: $bg-white;
  border: 3px solid $tv-purple;
  border-radius: 3px;

  font-weight: bold;
  font-size: $small-font-size;
  color:$tv-purple;

  text-align: center;
  line-height: 100%;
}

.input-bar {
  background-color: $bg-white;
  border: 3px solid $tv-purple;
  border-radius: 3px;
}

.vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
