$tv-purple: #660080;
$tv-green: #009B00;

$bg-white: #FFFFFF;
$bg-grey: #BBBBBB;
$bg-black: #000000;

$ratio: 0.618;  // approximated golden ratio
$max-width: 1080;  // the maximum the content can stretch to, in px
$nav-bar-height: 80; // the height of NavBar and Footer, in px

$large-font-size: 25px;
$medium-font-size: 20px;
$small-font-size: 15px;
$extra-small-font-size: 10px;

$default-border: 3px solid $tv-purple;
$default-border-radius: 3px;

// webpack helps export the variables for use inside JS
:export {
  tvPurple: $tv-purple;
  tvGreen: $tv-green;

  bgWhite: $bg-white;
  bgGrey: $bg-grey;
  bgBlack: $bg-black;

  ratio: $ratio;
  maxWidth: $max-width;
  navBarHeight: $nav-bar-height;

  largeFontSize: $large-font-size;
  mediumFontSize: $medium-font-size;
  smallFontSize: $small-font-size;
  extraSmallFontSize: $extra-small-font-size;

  defaultBorder: $default-border;
  defaultBorderRadius: $default-border-radius;
}

// the default settings
* {  
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: $small-font-size;
}

.footer-link:active, .footer-link:hover, .footer-link:visited {
  color: $bg-black;
}

a {
  font-size: 1em;
}

// simulate a thick underline
.footer-link:hover {
  text-decoration: none;
  border-bottom: 2px solid $bg-black;
}

body {
  font-family: "Open Sans", sans-serif;
}

.primary-btn {
  padding: $extra-small-font-size $small-font-size;

  background-color: $tv-purple;
  border: $default-border;
  border-radius: $default-border-radius;

  font-weight: bold;
  font-size: $small-font-size;
  color:$bg-white;

  text-align: center;
  line-height: 100%;
}

.secondary-btn {
  padding: $extra-small-font-size $small-font-size;

  background-color: $bg-white;
  border: $default-border;
  border-radius: $default-border-radius;

  font-weight: bold;
  font-size: $small-font-size;
  color:$tv-purple;

  text-align: center;
  line-height: 100%;
}

.search-bar {
  display: flex;

  background-color: $bg-white;
  border: $default-border;
  border-radius: $default-border-radius;
}

.search-bar > input {
  height: 100%;
  margin: 0 2px; 

  border: none; // to negate the default styling
  outline: none; // to negate the default styling

  flex-grow: 1;
}

.search-bar > button {
  flex-grow: 0;

  border: none; // to negate the default styling

  height: 100%;

  background-color: $tv-purple;

  font-weight: bold;
  color:$bg-white;

  text-align: center;
  line-height: 100%;
}